:root{
    --paddingBody: 10px;
    --paddingSection: 10px;

    /* tools */
    --maxWidthBuilding: 60px;
    --maxHeightBuilding: 60px;
    --numToolsPerLine: 3;
    --paddingImgTools: 5px;
    --widthToolsList: calc(var(--numToolsPerLine) * var(--maxWidthBuilding) + 2 * var(--numToolsPerLine) * var(--paddingImgTools));

    /* map */
    --tileSize: 70px;
    /*--numsRows: 5;*/
    --numColumns: 5;
    --widthBorderTiles: 1px;
    --widthMap: calc( var(--tileSize) * var(--numColumns));
}

body{
    font-family: Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    width: 80%;
    min-width: calc( var(--widthMap) + var(--widthToolsList) + 2*var(--paddingBody) );
    margin: auto;
    padding: 20px;
}

header{
    border: 2px solid yellow;
    text-align: center;
}

section{
    border: 2px solid green;
    padding: var(--paddingSection);
    min-width: calc(var(--widthMap) + var(--widthToolsList));
}

#informationsCity{
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#city{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

#toolBar{
    border: 2px dashed black;
}

#toolBar img, #map img{
    padding: var(--paddingImgTools);
    max-width: var(--maxWidthBuilding);
    max-height: var(--maxHeightBuilding);
}


#toolsList{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: var(--widthToolsList);
    background-color: plum;
}

.infosToolTitle{
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.infosToolText{
    font-size: 0.8em;
    margin-top: 0px;
    font-style: italic;
}

.infosToolText img{
    height: 20px;
}

.infosToolSubTitle{
    font-size: 0.8em;
    font-weight: bold;
}

#map{
    margin: 10px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: var(--widthMap);
    border-top: var(--widthBorderTiles) solid black;
    border-left: var(--widthBorderTiles) solid black;
}

.tile{
    box-sizing: border-box;
    width: var(--tileSize);
    height: var(--tileSize);
    border-bottom: var(--widthBorderTiles) solid black;
    border-right: var(--widthBorderTiles) solid black;
    background-color: yellowgreen;
}



footer{
    background-color: lightblue;
    text-align: center;
    padding: 1px;
    font-size: 0.7em;
}