:root{
    --nbColumnMap: 6; /* data in .js too */
    --nbLinesMap: 6; /* data in .js too */
    --nbColumnToolsList: 4;

    --sizeImgToolsList: 70px;
    --marginImgToolsList: 5px;
    --heightInfoTool: 250px;

    --widthMapSection: 800px;
    --sizeTileMap: 70px;
    --sizeBuildingOnTileMap: 65px;
}

body{
    font-family: Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    width: 900px;
    margin: auto;
}

header{
    text-align: center;
    background-color: lightgoldenrodyellow;
}

section{
    background-color: lightskyblue;
}

#informationsCity{
    background-color: plum;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#informationsCity > *{
    width: 120px;
}

#informationsCity img{
    height: 30px;
    vertical-align: middle;
}

.catInfosCityBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.catInfosCityBar .details{
    font-size: 0.7em;
    text-align: right;
}


#city{
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
}

#toolBarSection{
    background-color: lightpink;
    width: calc( var(--nbColumnToolsList) * (var(--sizeImgToolsList) + var(--marginImgToolsList)));
    display: flex;
    flex-direction: column;
}

#toolsList{
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#toolsList img{
    box-sizing: border-box;
    padding: 5px;
    margin: var(--marginImgToolsList);
    width: var(--sizeImgToolsList);
    height: var(--sizeImgToolsList);
}

.selectedTool img{
    box-shadow: 0 0 10px black;
}

#informationsTool{
    background-color: yellow;
    padding: 5px;
    height: var(--heightInfoTool);
}

.infosToolTitle{
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

.infosToolSubTitle{
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.infosToolText{
    font-size: 0.8em;
    margin-top: 0;
}

.infosToolText img{
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

#mapSection{
    background-color: purple;
    width: var(--widthMapSection);
}

#map{
    width: calc( var(--nbColumnMap) * var(--sizeTileMap) );
    height: calc( var(--nbLinesMap) * var(--sizeTileMap) );
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tileMap{
    width: var(--sizeTileMap);
    height: var(--sizeTileMap);
    box-sizing: border-box;
    border: 1px solid black;
}

.buildingOnTileMap{
    width: var(--sizeBuildingOnTileMap);
    height: var(--sizeBuildingOnTileMap);
}

.tileBackground_0{
    background-image: url("images/tile_green_00.svg");
    background-size: var(--sizeTileMap) var(--sizeTileMap);
}

.tileBackground_1{
    background-image: url("images/tile_green_01.svg");
    background-size: var(--sizeTileMap) var(--sizeTileMap);
}

.tileBackground_2{
    background-image: url("images/tile_green_02.svg");
    background-size: var(--sizeTileMap) var(--sizeTileMap);
}

.tileBackground_3{
    background-image: url("images/tile_green_03.svg");
    background-size: var(--sizeTileMap) var(--sizeTileMap);
}

footer{
    background-color: lightslategrey;
    text-align: center;
}